[build-system]
build-backend = "hatchling.build"
requires = ["hatchling>=1.12.2", "hatch-vcs>=0.3"]

[project]
name = "pipdeptree"
description = 'Command line utility to show dependency tree of packages.'
readme = "README.md"
license.file = "LICENSE"
maintainers = [
  { name = "Bernát Gábor", email = "gaborjbernat@gmail.com" },
  { name = "Vineet Naik", email = "naikvin@gmail.com" },
]
urls.Documentation = "https://github.com/tox-dev/pipdeptree/blob/main/README.md#pipdeptree"
urls.Homepage = "https://github.com/tox-dev/pipdeptree"
urls.Source = "https://github.com/tox-dev/pipdeptree"
urls.Tracker = "https://github.com/tox-dev/pipdeptree/issues"
requires-python = ">=3.7"
optional-dependencies.test = [
  "covdefaults>=2.2.2",
  "diff-cover>=7.4",
  "pip>=23",
  "pytest>=7.2.1",
  "pytest-cov>=4",
  "pytest-mock>=3.10",
  "virtualenv<21,>=20.17.1",
]
optional-dependencies.graphviz = [
  "graphviz>=0.20.1",
]
scripts.pipdeptree = "pipdeptree:main"
keywords = ["application", "cache", "directory", "log", "user"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Environment :: Console",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3 :: Only",
]
dynamic = ["version"]

[tool.hatch]
build.hooks.vcs.version-file = "src/pipdeptree/version.py"
version.source = "vcs"

[tool.black]
line-length = 120

[tool.isort]
profile = "black"
known_first_party = ["pipdeptree"]

[tool.coverage]
html.show_contexts = true
html.skip_covered = false
paths.source = ["src", ".tox/*/lib/python*/site-packages", "*/src"]
run.parallel = true
run.plugins = ["covdefaults"]
