Flask==1.0.2
Flask-Script==2.0.6
Jinja2==2.10
-e git+https://github.com/naiquevin/lookupy.git@cdbe30c160e1c29802df75e145ea4ad903c05386#egg=Lookupy
Mako==1.0.7
MarkupSafe==1.0
SQLAlchemy==1.2.9
Werkzeug==0.14.1
alembic==0.9.10
gnureadline==6.3.8
itsdangerous==0.24
psycopg2==2.7.5
redis==2.10.6
slugify==0.0.1
